
.card{
    height: 50rem;
    perspective: 150rem;

    &-side{
        height: 100%;
        box-shadow: 0 1.5rem 4rem rgba($color-dark, .15);
        transition: all .8s ease;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;    
        width: 100%;                                    
        border-radius: 3px;

        &-front{
            background-color: $color-white;
            font-size: 20px;
        }

        
        &-back{
            background-color: blueviolet;
            font-size: 20px;
            transform: rotateY(180deg);

            &-1{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-2{
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-3{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }
    

    &:hover &-side-front{
        transform: perspective(150rem) rotateY(-180deg);
    }
    
    &:hover &-side-back{
        transform: perspective(150rem) rotateY(0deg);       
    }

    &-img{
        height: 23rem;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        background-blend-mode: screen;
        &-1{
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../images/nat-5.jpg);
        }
        &-2{
            background-image:  linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../images/nat-6.jpg);
        }
        &-3{
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../images/nat-6.jpg);
        }
    }
    &-heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        position: absolute;
        right: 2rem;
        top: 10rem;
        color: $color-white;
        width: 75%;
    }

    &-heading-span{
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &-1{
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }
        &-2{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }
        &-3{
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }
    }
    &-details{
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;
            
            li{
                font-size: 1.5rem;
                text-align: center;
                padding: 1rem;
                &::first-letter{
                    text-transform: capitalize; 
                }
                &:not(:last-child){
                    border-bottom: 1px solid $color-grey-dark1;
                }
            }

        }
    }

    &-cta{
       @include absCenter;
       width: 90%;
    }

    &-price-box{
        color: $color-white;
        margin-bottom: 8rem;
    }

    &-price-only{
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    &-price-value{
        font-size: 6rem;
        font-weight: 100;
    }
}

// .card-side-back-1{
//     background-color: #8a2be2;
// }